---
import { about } from "@/i18n/docs";
import { ui } from "@/i18n/ui";
import { Image } from "astro:assets";
import BaseLayout from "@/layout/BaseLayout.astro";
import francoNinja from "@/images/francoNinja.jpg";
import francoPlayero from "@/images/francoPlayero.png";
import francoSki from "@/images/francoSki.jpg";

export const getStaticPaths = () => {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
};

const lang = Astro.currentLocale as "es" | "en";

const { keyContributions, keyContributionsList } = about[lang];
const { about: aboutTitle } = ui[lang];

const itbaUrl = "https://www.itba.edu.ar";
---

<!-- <h1>about</h1> -->
<BaseLayout pageTitle={aboutTitle} withHomeLink>
  <article>
    <h1>{aboutTitle}</h1>
    {
      lang === "es" ? (
        <>
          <p>
            Hi! I'm Franco Reyes, a full stack developer focused on frontend
            using React with over a year of experience in the field.
            <br />
            Currently, I'm studying computer engineering at{" "}
            <a href={itbaUrl} target="_blank">
              ITBA
            </a>
            , located in Buenos Aires, Argentina.
            <br />
            Passionate about technology and a strong believer in clean code,
            self-taught, and always striving to improve and grow professionally.
            <br />
          </p>
          <p>
            Advocate for minimalism and efficiency in every line of code I
            write. Committed to maintaining a standard of quality through clean
            and well-structured code.
          </p>
          <p>
            Beyond work, I enjoy skiing in winter and doing acrobatics. I'm also
            a big fan of anime, especially series like Berserk.
          </p>
        </>
      ) : (
        <>
          <p>
            ¡Hola! Soy Franco Reyes, desarrollador full stack con enfoque
            principalmente en frontend utilizando React con más de un año de
            experiencia en el campo.
            <br /> Actualmente estudiando ingeniería informática en el{" "}
            <a href={itbaUrl} target="_blank">
              ITBA
            </a>
            , ubicado en Buenos Aires, Argentina.
            <br /> Apasionado por la tecnologia y firme creyente del código
            limpio, autodidacta y siempre en busca de mejorar y crecer
            profesionalmente.
          </p>
          <p>
            Defensor del minimalismo y la eficiencia en cada línea de código que
            escribo. Me comprometo a mantener un estándar de calidad mediante un
            código limpio y bien estructurado.
          </p>
          <p>
            Ademas del trabajo, me gusta esquiar en invierno y hacer acrobacias.
            También soy un gran fanático de los animes, especialmente de series
            como Berserk.
          </p>
        </>
      )
    }
    <section>
      <Image src={francoNinja} alt={"Franco ninja"} />
      <Image src={francoPlayero} alt={"Franco playero"} />
      <Image src={francoSki} alt={"Franco Ski"} />
    </section>
  </article>
</BaseLayout>
