---
import { about } from "@/i18n/docs";
import { ui } from "@/i18n/ui";
import { Image } from "astro:assets";
import BaseLayout from "@/layout/BaseLayout.astro";
import francoNinja from "@/images/francoNinja.jpg";
import francoPlayero from "@/images/francoPlayero.png";
import francoWapo from "@/images/francoWapo.jpg";
import francoSki from "@/images/francoSki.jpg";
import { A, H2, P } from "@/components";

export const getStaticPaths = () => {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
};

const lang = Astro.currentLocale as "es" | "en";

const { intro, location, cleanCode, hobbies, whatImDoing } = about[lang];
const { about: aboutTitle } = ui[lang];

const itbaUrl = "https://www.itba.edu.ar";
---

<script>
  document.addEventListener("astro:page-load", () => {
    const carousel = document.getElementById("carousel");
    if (carousel === null) return;
    const { scrollWidth } = carousel;
    const children = Array.from(carousel.children);

    let currentImageIndex = 0;
    let autoScrollIsPaused = false;

    const scroll = () => {
      const newScrollX = (scrollWidth / children.length) * currentImageIndex;

      carousel.scroll({
        left: newScrollX,
        behavior: "smooth",
      });
    };

    carousel.addEventListener("click", (event) => {
      const { target: clickedChild, offsetX } = event as {
        target: HTMLImageElement | null;
        offsetX: number;
      };

      if (clickedChild === null) return;

      const childrenIndex = children.indexOf(clickedChild);
      const clickedChildWidth = clickedChild.clientWidth;

      offsetX >= clickedChildWidth / 2
        ? children[childrenIndex + 1] !== undefined &&
          (currentImageIndex = childrenIndex + 1)
        : children[childrenIndex - 1] !== undefined &&
          (currentImageIndex = childrenIndex - 1);

      scroll();
    });

    setInterval(() => {
      if (autoScrollIsPaused) return;

      children[currentImageIndex + 1] === undefined
        ? (currentImageIndex = 0)
        : (currentImageIndex += 1);

      scroll();
    }, 4000);

    carousel.addEventListener("mouseenter", () => {
      autoScrollIsPaused = true;
    });

    carousel.addEventListener("mouseleave", () => {
      autoScrollIsPaused = false;
    });
  });
</script>

<!-- <h1>about</h1> -->
<BaseLayout pageTitle={aboutTitle} withHomeLink>
  <article>
    <H2>{aboutTitle}</H2>
    <P>
      {intro}{" "}
      <A href={itbaUrl}>ITBA</A>{location}
    </P>
    <P>{cleanCode}</P>
    <P>{hobbies}</P>

    <section
      id="carousel"
      class="cursor-pointer rounded rounded-2 shadow-md flex flex-row flex-nowrap snap-x snap-mandatory overflow-auto"
    >
      <Image src={francoSki} class={"image snap-center"} alt={"Franco Ski"} />
      <Image
        src={francoNinja}
        class={"image snap-center"}
        alt={"Franco ninja"}
      />
      <Image
        src={francoWapo}
        class={"image snap-center"}
        alt={"Franco Reyes"}
        title={"smile?? xd"}
      />
      <Image
        src={francoPlayero}
        class={"image snap-center "}
        alt={"Franco playero"}
      />
    </section>
  </article>
</BaseLayout>
