---
import { about } from "@/i18n/docs";
import { ui } from "@/i18n/ui";
import { Image } from "astro:assets";
import BaseLayout from "@/layout/BaseLayout.astro";
import francoNinja from "@/images/francoNinja.jpg";
import francoPlayero from "@/images/francoPlayero.png";
import francoWapo from "@/images/francoWapo.jpg";
import francoSki from "@/images/francoSki.jpg";
import { A, H2, P } from "@/components";
import Carousel from "@/components/Carousel.astro";

export const getStaticPaths = () => {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
};

const lang = Astro.currentLocale as "es" | "en";

const { intro, location, cleanCode, hobbies, whatImDoing } = about[lang];
const { about: aboutTitle } = ui[lang];

const itbaUrl = "https://www.itba.edu.ar";
---

<BaseLayout pageTitle={aboutTitle} withHomeLink>
  <article>
    <H2>{aboutTitle}</H2>
    <P>
      {intro}{" "}
      <A target="_blank" href={itbaUrl} >ITBA</A>{location}
    </P>
    <P>{cleanCode}</P>
    <P>{hobbies}</P>

    <Carousel>
      <!-- Put Images here -->

      <Image src={francoSki} class={"image snap-center"} alt={"Franco Ski"} />
      <Image
        src={francoNinja}
        class={"image snap-center"}
        alt={"Franco ninja"}
      />
      <Image
        src={francoWapo}
        class={"image snap-center"}
        alt={"Franco Reyes"}
        title={"smile?? xd"}
      />
      <Image
        src={francoPlayero}
        class={"image snap-center "}
        alt={"Franco playero"}
      />
    </Carousel>
  </article>
</BaseLayout>
