---
import BaseLayout from "@/layout/BaseLayout.astro";
import { P, A, Hr, H2, H3, Ul } from "@/components";
import { ui } from "@/i18n/ui";
import { home } from "@/i18n/docs";
import { getCollection } from "astro:content";

export const getStaticPaths = () => {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
};

const lang = Astro.params.lang as "es" | "en";
const {
  about,
  projects: projectsTitle,
  skills,
  comingSoon,
  nextUp,
  interestedIn,
  contact,
} = ui[lang];
const { shortAbout } = home[lang];
const aboutUrl = `/${lang}/about`;
const skillsList = [
  "NodeJs, NextJs, Astro, React",
  "Material UI, Tailwind CSS",
  "TypeScript, Javascript, HTML, CSS, Python",
  "SQL, NoSQL",
];
const cvUrl = { en: "/cv-en.pdf", es: "/cv-es.pdf" };
const projects = await getCollection("projects", ({ id }) =>
  id.startsWith(lang)
);
---

<BaseLayout pageTitle={lang === "es" ? "Inicio" : "Home"}>
  <section>
    <P>
      {shortAbout}{" "}
      <A href={aboutUrl}>{about}.</A>
    </P>
  </section>
  <Hr />

  <!-- Projects -->
  <section>
    <H2 class="font-semibold text-xl mb-2 mt-4">{projectsTitle}</H2>
    <Ul>
      {
        projects.map(({ id, data: { title, shortResume } }) => (
          <li>
            &bull; <A href={"project/" + id.split("/")[1]}>{title}</A> -{" "}
            {shortResume}
          </li>
        ))
      }
    </Ul>
  </section>

  <section>
    <H2>{skills}</H2>
    <Ul>
      {skillsList.map((skill) => <li>&bull; {skill}</li>)}
    </Ul>
    <H3>{comingSoon}</H3>
    <Ul>
      <li>&bull; {nextUp}: Rust, Solidity</li>
      <li>&bull; {interestedIn}: Docker, Laravel, Blockchain, AI</li>
    </Ul>
  </section>
  <Hr />
  <article id="contact">
    <H2>{contact}</H2>
    <Ul>
      <li>&bull; <A href={cvUrl[lang]}>CV</A></li>
      <li>&bull; <strong>Phone:</strong> +54 9 11 3365 1449</li>
      <li>
        &bull; <strong>E-mail:</strong>{" "}
        <A href="mailto:fdreyes.dev@gmail.com" target="_blank"
          >fdreyes.dev@gmail.com</A
        >
      </li>
      <li>&bull; <strong>location:</strong> Buenos Aires, Argentina</li>
      <li>
        &bull; <strong>Linkedin:</strong>{" "}<A
          href="https://www.linkedin.com/in/francoreyesdev/"
          target="_blank">Franco Reyes</A
        >
      </li>
    </Ul>
  </article>
</BaseLayout>
