---
import BaseLayout from "@/layout/BaseLayout.astro";
import { getCollection } from "astro:content";
import { P, H3, Ul } from "@/components";
import { Image } from "astro:assets";
import { ui } from "@/i18n/ui";
export const getStaticPaths = async () => {
  const projects = await getCollection("projects");
  return projects.map(({ id }) => {
    const [lang, project] = id.split("/");
    return { params: { lang, project } };
  });
};

const { lang, project: projectName } = Astro.params;
const { milestones, technologies } = ui[lang as "es" | "en"];

const projects = await getCollection(
  "projects",
  ({ id }) => id === lang + "/" + projectName
);
const {
  title,
  image: imageSrc,
  objective,
  technologies: technologiesList,
  milestones: milestonesList,
} = projects[0].data;
const image = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/projects/*.{jpg,png,jpeg}"
);
---

<script>
  document.addEventListener("astro:page-load", () => {
    const img = document.getElementById("img");
    const imgModal = document.getElementById("imgModal");

    if (img === null || imgModal === null) return;

    const changeVisiblity = () =>
      imgModal.classList.contains("md:block")
        ? imgModal.classList.remove("md:block")
        : imgModal.classList.add("md:block");

    [img, imgModal].forEach((element) =>
      element.addEventListener("click", changeVisiblity)
    );
  });
</script>

<BaseLayout pageTitle={projectName} withHomeLink>
  <h2 class="font-semibold dark:font-dark text-3xl mb-4 mt-4">{title}</h2>
  <P>{objective}</P>

  <Image
    id={"img"}
    class={"my-6 cursor-pointer border-cream border-2 border-solid shadow-lg hover:shadow-xl rounded"}
    alt={title}
    src={image["/src/images/projects/" + imageSrc]()}
  />
  <H3>{technologies}</H3>
  <Ul>
    {technologiesList.map((technologie) => <li>&bull; {technologie}</li>)}
  </Ul>
  <H3>{milestones}</H3>
  <Ul>
    {milestonesList.map((milestone) => <li>&bull; {milestone}</li>)}
  </Ul>

  <!-- The Modal -->
  <div
    id="imgModal"
    class="hidden md:fixed md:inset-0 md:bg-dark md:bg-opacity-80"
  >
    <!-- Modal Content (The Image) -->
    <div class="h-screen flex flex-col justify-center content-center">
      <Image
        class={"w-4/5 rounded m-auto"}
        alt={title}
        src={image["/src/images/projects/" + imageSrc]()}
      />
    </div>

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>
</BaseLayout>
