---
import { ViewTransitions } from "astro:transitions";
import { Icon } from "astro-icon/components";
import { ui } from "@/i18n/ui";

interface Props {
  pageTitle: string;
  withHomeLink?: boolean;
}

const { pageTitle, withHomeLink = false } = Astro.props;
const lang = Astro.currentLocale as "en" | "es";
const {
  theme: [dark, white],
} = ui[lang];

const homeUrl = `/${lang}/`;
---

<script>
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", () => {
    const html = document.getElementsByTagName("html")[0];
    const langSelect = document.getElementById(
      "langSelect"
    ) as HTMLSelectElement;
    const themeSelect = document.getElementById(
      "themeSelect"
    ) as HTMLSelectElement;

    themeSelect.addEventListener("change", ({ target }) => {
      if (target === null) return;
      const newTheme = (target as HTMLSelectElement).value;
      if (newTheme !== "white" && newTheme !== "dark") return;
      localStorage.setItem("theme", newTheme);
      switchTheme(newTheme);
    });

    langSelect.addEventListener("change", ({ target }) => {
      if (target === null) return;
      const newLang = (target as HTMLSelectElement).value;
      if (newLang !== "en" && newLang !== "es") return;
      localStorage.setItem("lang", newLang);
      switchLang(newLang);
    });

    const switchTheme = (theme: "dark" | "white") => {
      themeSelect.value = theme;
      if (html.classList.contains(theme)) return;
      html.classList.remove("dark", "white");
      html.classList.add(theme);
    };

    const switchLang = (lang: "es" | "en") => {
      const currentLang = window.location.pathname.split("/")[1] as "en" | "es";
      langSelect.value = lang;
      if (currentLang === lang) return;

      const newUrl = window.location.pathname.replace(currentLang, lang);
      navigate(newUrl);
    };

    const checkTheme = () => {
      const savedTheme = localStorage.getItem("theme") as
        | "dark"
        | "white"
        | null;
      if (savedTheme === null) {
        localStorage.setItem("theme", "white");
        switchTheme("white");
        return;
      }
      if (savedTheme !== themeSelect.value) themeSelect.value = savedTheme;
      switchTheme(savedTheme);
    };

    const checkLang = () => {
      const savedLang = localStorage.getItem("lang");
      if (savedLang === null) return localStorage.setItem("lang", "en");
      if (savedLang !== langSelect.value) langSelect.value = savedLang;
    };

    checkLang();
    checkTheme();
  });
</script>

<html transition:animate="none" class="transition-all duration-300" lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta property="og:title" content="Franco 
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://francoreyes.vercel.app" />
    <meta property="og:description" content="Bienvenido a mi portfolio! Soy Franco Reyes, un desarrollador Full Stack apasionado por crear experiencias web excepcionales. Explora mi trabajo y descubre cómo puedo ayudarte a llevar tus proyectos al siguiente nivel." />
    <meta property="og:image" content="https://francoreyes.vercel.app/francoreyes.jpeg" />
    <meta property="og:site_name" content="Franco Reyes - Porfolio" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - Franco Reyes</title>
    <slot name="head" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <ViewTransitions />
  </head>
  <body class="dark:bg-dark bg-white">
    <div class="container mx-auto p-8 py-10 max-w-screen-sm">
      <header class="mb-5" transition:animate="fade">
        <nav>
          {
            withHomeLink ? (
              <a href={homeUrl}>
                <h1
                  class="before:content-['←'] dark:text-white font-light text-base"
                  transition:animate="initial"
                  transition:name="title"
                >
                  Franco Reyes
                </h1>
              </a>
            ) : (
              <h1
                class="font-semibold dark:text-white text-3xl"
                transition:animate="initial"
                transition:name="title"
              >
                Franco Reyes
              </h1>
            )
          }
        </nav>
        <div class="flex items-center">
          <label class="flex items-center">
            <Icon class={"dark:text-white"} name={"lang"} />
            <select
              id="langSelect"
              class="bg-transparent dark:bg-dark dark:text-white"
              value="en"
            >
              <option value="en">English</option>
              <option value="es">Español</option>
            </select>
          </label>
          <label class="flex items-center">
            <Icon class={"dark:text-white"} name="theme" />
            <select
              id="themeSelect"
              class="bg-transparent dark:bg-dark dark:text-white"
              value="white"
            >
              <option value="dark">{dark}</option>
              <option value="white">{white}</option>
            </select>
          </label>
        </div>
      </header>
      <article role="main">
        <slot />
      </article>
    </div>
  </body>
</html>
